table, th, td {
  border: 2px solid black;
}
th{
  background-color: gray;
  color: white;
}

tr:nth-of-type(odd){
  background-color: lightblue;
}

table{
  width: 80%;
  box-shadow: 3px 3px darkgray;
}

header{
  text-align: center;
  background-color: gray;
  color: white;
  text-shadow: 0 0 5px lightblue;
  border-bottom: 2px solid black;
  box-shadow: 3px 3px darkgray;
}

#inputArea{
  margin-top: 15px;
}

#salaryLine{
  text-align: right;
  margin-top: 40px;
  margin-right: 20%;
}
.remove{
  float: right;
}
#warningLine{
  color: red;
}
